<% layout('layout') %>



<div class="wrapper">
  <!-- Sidebar  -->
  <%- include('../partials/side.ejs') %>

  <!-- Page Content  -->
  <div id="content">

    <header>
      <%- include('../partials/navbar.ejs') %>
    </header>
    <section class="login-section">
      <div class="container p-2">
        <div class="row">
          <div class="col-md-4 text-left">
            <img src="/resources/img/undraw_personalization_triu.svg" alt="" />
          </div>
          <div class="col-md-8 login-container">
            <form action="/users/post-product" method="POST" enctype="multipart/form-data">
              <div class="input-group">
                <div class="input-gp">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <label for="pname"> Product Name</label>
                  <input type="text" name="pname" id="pname" class="input d-block" autocomplete="off">
                </div>
              </div>
              <div class="input-group">
                <div class="input-gp">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <label for="price">Price</label>
                  <input type="number" name="price" id="price" class="input d-block" autocomplete="off">
                </div>
              </div>
              <div class="input-group">
                <div class="input-gp">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <label for="discount"> Discount</label>
                  <input type="number" name="discount" id="discount" class="input d-block" autocomplete="off">
                </div>
              </div>
              <div class="input-group">
                <label for="categories">Category</label>
                <select id="categories" name="catId">
                  <option value="0">Choose Category</option>
                  <% for(let category of categories){ %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                  <% } %>
                </select>
              </div>
              <div class="input-group">
                <div class="">
                  <label for="image">Image</label>
                  <input type="file" id="image" name="image">
                </div>
              </div>
              <div class="input-group">
                <div class="input-gp">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <label for="quantity"> Quantity</label>
                  <input type="number" name="quantity" id="quantity" class="input d-block" autocomplete="off">
                </div>
                <small id="emailHelp" class="form-text text-muted text-left">Minimum 1</small>
              </div>
              <div class="input-group">
                <textarea name="description" placeholder="Description" id="" cols="60" rows="5"></textarea>
                <!-- <small id="emailHelp" class="form-text text-muted text-left">minimum 8 characters</small> -->
              </div>
              <input type="submit" value="Post Product" class="btn primary-btn login-btn mt-3 text-white">

            </form>
          </div>
        </div>
      </div>
    </section>
    

    <%- include('../partials/footer.ejs') %>
  </div>
</div>
